<html>

<table class="table">
<thead class="thead-dark">
  <tr>
     <th>Descrição</th>
     <th>Valor</th>
  </tr>
  </thead>
  <tbody>
  <tr for (produto in data.produtos)>
     <td>${produto.Descricao}</td>
     <td>${produto.Preco}</td>
  </tr>
  </tbody>
</table>


</html>